#header {
	margin: 0 auto;
	height: 130px;
	position: relative;
	width: 980px;
	vertical-align: baseline;
}

#header img,h3 {
	position: absolute;
	bottom: 0;
}

.logo {
	width: 400px;
	height: 101px;
}

#header-title {
	left: 500px;
	color: #E4E4CF;
	font-size: 28px;
	line-height: 24px;
	font-family: Paytone One;
}

#tile {
	background: url("/img/tile.jpg") repeat-x scroll left top #E9E9D5;
	min-width: 1000px;
}

#header a {
	color: #A8A695;
}

div#nav {
	width: 200px;
}