#header {
	width: 100%;
	height: 200px;
}

.logo {
	width: 400px;
	height: 101px;
	float: left;
}

#header-title {
	width: 375 px;
	padding: 0 100px 0 0;
	float: right;
	color: #E4E4CF;
	font-size: 28px;
	line-height: 24px;
	font-family: Paytone One;
}

#tile {
	background: url("/img/tile.jpg") repeat-x scroll left top #E9E9D5;
	min-width: 1000px;
}

#header a {
	color: #A8A695;
}

div#nav {
	width: 500px;
}